/* Top menu */

.top-menu {
    padding: 10px 0;
    background-color: var(--main-blue);
    justify-content: space-between;
}

.top-menu p {
    color: var(--white);
}

/* features area */

.features-area {
    width: 70%;
    gap: 50px;
    justify-content: flex-start;
    padding-left: 5%;
}

/* currebcy area */

.currency-area {
    width: 20%;
    justify-content: flex-end;
    padding-right: 5%;
}

.currency-switcher {
    gap: 20px;
    justify-content: flex-end;
}

.currency-switcher li {
    color: var(--white);
    padding-bottom: 2px;
}

.currency-switcher li:hover, .menu-area a:focus {
    border-bottom: 1px solid var(--white);
    padding-bottom: 1px;
    cursor: pointer;
}

/* Main menu */

.main-menu {
    justify-content: space-between;
    min-height: 80px;
}

/* logo area */

.main-menu .logo-area {
    width: 20%;
    justify-content: flex-start;
    padding-left: 5%;
}

.logo-area img {
    height: 50px;
    width: auto;
}

/* menu */

.menu-area {
    width: 40%;
}

.menu-area nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.menu-area a {
   color: var(--black);
   padding: 3px 7px;
}

.menu-area a:hover, .menu-area a:focus {
    border-bottom: 2px solid var(--main-blue);
    color: var(--main-blue);
}

/* cart area */

.cart-area {
    width: 20%;
    justify-content: flex-end;
    padding-right: 5%;
}

.cart p {
    font-size: 14px;
}

/* MOBILE */

@media screen and (max-width: 767px) {

    /* top menu */

    .top-menu {
        padding: 0;
    }

    .features-area {
        display: none;
    }

    .currency-area {
        width: 100%;
        padding: 0;
    }

    .currency-switcher {
        gap: 10px;
        justify-content: center;
        padding: 0;
    }

    /* main menu */

    .menu-area {
        width: 100%;
        padding: 5% 3%;
        background-color: #f3f3f3;
    }

    .cart-area, .logo-area {
        order: -1;
        padding: 2% 3%;
    }

    .menu-area nav {
        justify-content: space-between;
    }

}

